@font-face {
  font-family: "nb-architek-pro";
  src: url("./fonts/nbp/nbp-bd-700.woff2") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "nb-architek-pro";
  src: url("./fonts/nbp/nbp-rg-400.woff2") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "neue-montreal";
  src: url("./fonts/nm/nm-rg-400.woff2") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "neue-montreal";
  src: url("./fonts/nm/nm-md-500.woff2") format("truetype");
  font-weight: 500;
  font-style: normal;
}
body{
  display: flex;
  justify-content: center;
}
.main-container{ 
  background-color: white;
  width: 70%;
  justify-content: center;
  align-items: center;
  padding: 0 3.75rem;
}


.nav-bar{
  width: 100%;
  font-family:"nb-architek-pro";
  position: sticky;
  font-size:  1.625rem;
  font-weight: 400;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  z-index: 100;
}

.nav-logo{
  height: 2.5rem;
}

.nav-left-section{
  
  display: flex;
  width: 20rem;
  justify-content: space-evenly; 
}

.nav-right-section{
  display: flex;
  width: 20rem;
  justify-content: space-evenly;
}
.nav-bio-button,.nav-work-button,.nav-github-button,.nav-contact-button{
padding-left: 5px;
padding-right: 5px;
}

.nav-bio-button:hover,.nav-work-button:hover,.nav-github-button:hover,.nav-contact-button:hover{
  color: white;
  background-color: black;
  transition: 0.5s;
}

.hero-container{
  display: flex;
  flex-direction: column;
  margin-bottom: 12.5rem;
}
.hero-img-container{
  margin-top: -60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-background-img{
  width: 30.125rem;
  height: 45.375rem;
  display: block;
}
.hero-overlay-img{
  position: absolute;
  bottom: 0;
  height: 43rem;
}
.hero-straight-line{
  width: 100%;
  border-bottom: 0.02px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-color: white;
  border-style: solid;
  position: absolute;
}
.hero-intro-text{
  font-family:"neue-montreal" ;
  font-weight: 400;
  font-size:  4.25rem;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: -2.125rem;
}
.hero-symbol{
  margin-bottom: -0.625rem; 
}
 .hero-text-span{
  font-family: "nb-architek-pro";
  font-weight: 700;
 }

.about-section-heading{
  font-family: "nb-architek-pro";
  font-size: 1rem;
  display: flex;
  justify-content: center;
  margin-bottom: 6.25rem;
}
.about-sub-text{
  font-family:"neue-montreal" ;
  font-weight: 400;
  font-size: 2.5rem;
  margin-bottom: 5.875rem;
}
.about-sub-section{
  display: flex;
}
.about-section-img{
  width:  29.5rem;
}
.about-sub-section-text{
  font-family: "neue-montreal";
  margin-left: 9.89rem;
  font-size: 1.37rem;
  font-weight: 500;
}
.about-contact-container{
  margin-top: 3.75rem;
  margin-left: 9.89rem;
}
.about-contact-text{
  color: #939393;
  font-size: 1rem;
  font-family: "nb-architek-pro";
  font-weight: 400;
}
.nexnexorious{
  font-size: 1.125rem;
  font-family: "nb-architek-pro";
  font-weight: 700;
}
.about-section-container{
  margin-bottom: 12.5rem;
}


.select-work-head{
  display: flex;
  justify-content: center;
  margin-bottom:  6.3125rem;
}
.project-head-and-contents{
 width:  24.375rem;
 margin-right: 5.125rem ;
}

.select-work-head{
  font-family:"nb-architek-pro";
}
.project-number-text{
  background-color: black;
  color: white;
  padding:0 0.3125rem;
  margin:0 0.3125rem;
}

.project-name{
  font-family:"nb-architek-pro";
  color: white;
  background-color: black;
  font-size: 2.5rem;
  padding: 0 0.5rem;
}

.about-the-project{
  font-size: 1.125rem;
  font-family: "neue-montreal";
  font-weight: 500;
}

.project-container{
  display: flex;
  align-items: center;
}
.myprojects-img-container{
  background-color: lightgrey;
  width:53rem ;
  height:29.94rem;
}
.myprojects-img{
  width: 100%;
  object-fit: cover;
}
.slider-bar{
  display: flex;
  border-style: solid;
  border-width: 1px;
  width: 11rem;
  justify-content: space-around;
}
.slider-button{
background-color: white;
border-width: 1px;
border-style: solid;
width: 0.75rem;
height: 0.75rem;
margin: 0.23rem;
}
.myprojects-section{
  margin-bottom: 12.5rem;
}

.work-with-me-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 9.0625rem;
}

.work-with-me{
  display: flex;
  justify-content: center;
  font-family:"nb-architek-pro";
  margin-bottom: 4.5rem;
}
.work-with-me-text{
  font-family:"nb-architek-pro";
  font-weight: 700;
  font-size: 6.1rem;
  text-align: center;
  line-height: 5.5rem;
}

.lets-work-container{
  margin-top: 5.125rem;
  align-items: center;
  width: 26.25rem;
  height: 34.88rem;
  background-color: #1E1E1E;
}
.lets-work-button-container{
  display: flex;
  justify-content: center;
}
.lets-work-button{
  width:14.1875rem ;
  height:2.6875rem ;
  margin-top: 2.3125rem;
  margin-bottom: 3.6875rem;
  font-family:"nb-architek-pro" ;
  font-size: 1rem;
  color: white;
  background-color: #1E1E1E;
  border-style: solid;
  border-color: white;
}
.lets-work-img-container{
  display: flex;
  justify-content: center;
}
#footer{
  font-family:"nb-architek-pro";
  display: flex;
  font-size: 0.875rem;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border-top: 2px solid;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.footer-left-section{
  padding-left: 3.75rem;
  gap:0.625rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-middle-section{
  display: flex;
  margin-right: 3.5rem;
}
.footer-right-section{
  padding-right: 3.75rem;
}
.footer-links{
  padding:0 1.25rem;
}
.gradical-text{
  color: #CDCDCD;
}
.footer-logo{
  margin-top: 0.3125rem;
}