@font-face {
  font-family: "nb-architek-pro";
  src: url("./fonts/nbp/nbp-bd-700.woff2") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "nb-architek-pro";
  src: url("./fonts/nbp/nbp-rg-400.woff2") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "neue-montreal";
  src: url("./fonts/nm/nm-rg-400.woff2") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "neue-montreal";
  src: url("./fonts/nm/nm-md-500.woff2") format("truetype");
  font-weight: 500;
  font-style: normal;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}


body{
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-container{ 
  background-color: white;
  width: 70%;
  justify-content: center;
  align-items: center;
  position: relative;
}


.nav-bar{
  width: 100%;
  font-family:"nb-architek-pro";
  position: absolute;
  font-size:  1.625rem;
  font-weight: 400;
  display:flex;
  justify-content: space-between;
  align-items: center;
  top:0;
  z-index: 100;
}

.nav-logo{
  height: 2.5rem;
}

.nav-left-section{
  
  display: flex;
  width: 20%;
  justify-content: space-evenly; 
}

.nav-right-section{
  display: flex;
  width: 20%;
  justify-content: space-evenly;
}
.nav-github-button{
  margin-right: 1.8125rem;
}
.nav-bio-button{
  margin-right: 1.8125rem;
}


.nav-bio-button:hover,.nav-work-button:hover,.nav-github-button:hover,.nav-contact-button:hover{
  color: white;
  background-color: black;
  transition: 0.5s;
}

.hero-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 12.5rem;
}
.hero-img-container{
  margin-top: -60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero-background-img{
  width: 30.125rem;
  height: 45.375rem;
  display: block;
}
.hero-overlay-img{
  position: absolute;
  bottom: 0;
  height: 40.8rem;
}
.hero-straight-line{
  width: 100%;
  border-bottom: 0.02px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-color: white;
  border-style: solid;
  position: absolute;
  top: 401px;
}
.hero-intro-text{
  font-family:"neue-montreal" ;
  font-weight: 400;
  font-size:  4.25rem;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: -2.125rem;
}
.hero-symbol{
  margin-bottom: -0.625rem; 
}
 .hero-text-span{
  font-family: "nb-architek-pro";
  font-weight: 700;
 }

.about-section-heading{
  font-family: "nb-architek-pro";
  font-size: 1rem;
  display: flex;
  justify-content: center;
  margin-bottom: 6.25rem;
}
.about-sub-text{
  font-family:"neue-montreal" ;
  font-weight: 400;
  font-size: 2.5rem;
  margin-bottom: 5.875rem;
}
.about-text-span{
  padding-left: 6.25rem;
  font-family: "nb-architek-pro";
  font-weight: 700;
}

.about-sub-section{
  display: flex;
}
.about-section-img{
  width:  29.5rem;
}
.about-sub-section-text{
  font-family: "neue-montreal";
  margin-left: 9.89rem;
  font-size: 1.37rem;
  font-weight: 500;
}
.about-contact-container{
  margin-top: 3.75rem;
  margin-left: 9.89rem;
}
.about-contact-text{
  color: #939393;
  font-size: 1rem;
  font-family: "nb-architek-pro";
  font-weight: 400;
}
.nexnexorious{
  font-size: 1.125rem;
  font-family: "nb-architek-pro";
  font-weight: 700;
}
.about-section-container{
  margin-bottom: 12.5rem;
}


.select-work-head{
  display: flex;
  justify-content: center;
  margin-bottom:  6.3125rem;
}
.project-head-and-contents{
 width:  24.375rem;
 margin-right: 5.125rem ;
}

.select-work-head{
  font-family:"nb-architek-pro";
}
.project-number-text{
  background-color: black;
  color: white;
  padding:0 0.3125rem;
  margin:0 0.3125rem;
}

.project-name{
  font-family:"nb-architek-pro";
  color: white;
  background-color: black;
  font-size: 2.5rem;
  padding: 0 0.5rem;
}

.about-the-project{
  font-size: 1.125rem;
  font-family: "neue-montreal";
  font-weight: 500;
}

.project-container{
  display: flex;
  justify-content: space-between;
  
  align-items: center;
}
.myprojects-img-container{
  height:68%;
  width: 68%;
  aspect-ratio: 4/3; 
  background-color: rgb(255, 0, 0);
  object-fit: cover;
  vertical-align: middle;

}
.myprojects-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-bar{
  display: flex;
  border-style: solid;
  border-width: 1px;
  width: 11em;
  justify-content: space-around;
}
.slider-button{
background-color: white;
border-width: 1px;
border-style: solid;
width: 0.75rem;
height: 0.75rem;
margin: 0.23rem;
}
.myprojects-section{
  margin-bottom: 12.5rem;
}

.work-with-me-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 9.0625rem;
}

.work-with-me{
  display: flex;
  justify-content: center;
  font-family:"nb-architek-pro";
  margin-bottom: 4.5rem;
}
.work-with-me-text{
  font-family:"nb-architek-pro";
  font-weight: 700;
  font-size: 5rem;
  text-align: center;
  line-height: 5.5rem
}

.lets-work-container{
  margin-top: 5.125rem;
  align-items: center;
  width: 26.25rem;
  height: 34.88rem;
  background-color: #1E1E1E;
}
.lets-work-button-container{
  display: flex;
  justify-content: center;
}
.lets-work-button{
  width:14.1875rem ;
  height:2.6875rem ;
  margin-top: 2.3125rem;
  margin-bottom: 3.6875rem;
  font-family:"nb-architek-pro" ;
  font-size: 1rem;
  color: white;
  background-color: #1E1E1E;
  border-style: solid;
  border-color: white;
}
.lets-work-img-container{
  display: flex;
  justify-content: center;
}
#footer{
  font-family:"nb-architek-pro";
  display: flex;
  font-size: 0.875rem;
  font-weight: 700;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  /* border-top: 2px solid; */
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.footer-left-section{

  gap:0.625rem;
  display: flex;
  align-items: center;
}

.footer-middle-section{
  display: flex;
  margin-right: 3.5rem;
}
.footer-links{
  padding:0 1.25rem;
}
.gradical-text{
  color: #CDCDCD;
}
.footer-logo{
  margin-top: 0.3125rem;
}

@media (min-width: 400px) and (max-width: 75em) {
  .hero-intro-text{
    font-size: 3.2rem ;
    margin-top: 1rem;
  }

  .hero-container{
    margin-bottom: 5rem;
  }
  
  .about-section-heading{
    margin-bottom: 2rem;
  }


   .about-section-img{
    width: 20rem;
  }

  .about-sub-section-text{
    margin-left: 4.89rem;

  }
  .about-contact-container{
    margin-left: 4.89rem;
}
  .about-section-container{
    margin-bottom: 8rem;
  }

  .select-work-head{
    margin-bottom:4rem; 
  }

  .myprojects-section{
    margin-bottom: 8rem;
  }

  .work-with-me{
    margin-bottom:3rem;
  }
  .work-with-me-text{
    font-size:3.8rem ;
    line-height: 4rem;
  }
  #footer{
    font-size: 0.8rem;
  }
}


